{% extends "base.html" %}

{% load static %}

{%block maincss %}

<!-- css -->
<link rel="stylesheet" href="{% static '/css/epmd/_ojttrainees.css' %}">

{% endblock %}


{% block content %}


    <!-- Main Content -->
    <div class="flex-1 flex flex-col overflow-hidden">
      <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-100 p-4">
        <h1 class="text-3xl font-bold mb-4">ENGAGE TEMPLATE</h1>
    
  
              
        <br></br>
          <!-- Table -->
          <table id="dataTable" class="table table-striped">
            <caption>
              <div id="table_title">
                <h2>Ojt Trainees</h2>
                <a href="/epmd_engage/add_data_engage">
                  <button type="button" class="view-btn">Add Data</button>
                </a>
              </div>
            </caption>
              <thead>
                  <tr>
                    <th scope="col">Id</th>
                      <th scope="col">Province</th>
                      <th scope="col">Category</th>
                      <th scope="col">Name of office</th>
                      <th scope="col">address</th>
                      <th scope="col">Action</th>
                     
                  </tr>
              </thead>
              <tbody>
                {% for engage in engage_partner %}
                    <tr>
                      
                        <td>{{ engage.id }}</td>
                        <td>{{ engage.province }}</td>
                        <td>{{ engage.category }}</td>
                        <td>{{ engage.name_of_partner_or_office }}</td>
                        <td>{{ engage.address }}</td>
                        <td data-label="Actions">
                          <div class="action-buttons">
                            <a href="{% url 'view_data_engage' engage.id %}">
                              <button type="button" class="view-btn">View</button>
                            </a>
                
                            <a href="{% url 'update_data_engage' engage.id %}">
                              <button class="update-btn">Update</button>
                            </a>
                
                            <a>
                              <form method="post" action="{% url 'delete_data_engage' engage.id %}">
                                {% csrf_token %}
                                <button class="delete-btn">Delete</button>
                              </form>
                            </a>
                          </div>
                        </td>
                        
                       
                    </tr>
                {% endfor %}
            </tbody>              
          </table>
      </main>

  </div>

{% block mainjs %}
<script src="{% static "/js/epmd/epmd.js" %}"></script>
{% endblock mainjs %}

{% endblock content %}

