{% extends "base.html" %}

{% load static %}

{%block maincss %}

<!-- css -->
<link rel="stylesheet" href="{% static '/css/epmd/_ojttrainees.css' %}">

{% endblock %}


{% block content %}

<!-- Main Content -->
 <!-- Main Content -->
 <div class="flex-1 flex flex-col overflow-hidden">
          
    <main class="flex-5 overflow-x-hidden overflow-y-auto bg-gray-100 p-4">
        <H1>EDIT DATA TEMPLATE</H1>
        <form method="post" action="{% url 'update_data_engage' engage.id %}" class="max-w-md mx-auto">
            {% csrf_token %}
            <label for="province">Province:</label>
        <input type="text" id="province" name="province" value="{{engage.province}}" required><br>

        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{engage.category}}" required><br>

        <label for="name_of_partner_or_office">Name of Partner or Office:</label>
        <input type="text" id="name_of_partner_or_office" name="name_of_partner_or_office" value="{{engage.name_of_partner_or_office}}" required><br>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="{{engage.address}}" required><br>

        <label for="contact_person">Contact Person:</label>
        <input type="text" id="contact_person" name="contact_person" value="{{engage.contact_person}}" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{engage.email}}" required><br>

        <label for="contact_number">Contact Number:</label>
        <input type="text" id="contact_number" name="contact_number" value="{{engage.contact_number}}" required><br>

        <label for="date_engaged">Date Engaged:</label>
        <input type="date" id="date_engaged" name="date_engaged" value="{{ engage.date_engaged|date:'Y-m-d' }}" required><br>

        <label for="engagement_mode">Engagement Mode:</label>
        <input type="text" id="engagement_mode" name="engagement_mode" value="{{engage.engagement_mode}}" required><br>

        <label for="loi">Letter of Intent (LOI):</label>
        <textarea id="loi" name="loi" required>{{engage.loi}}</textarea><br>

        <label for="remarks">Remarks:</label>
        <textarea id="remarks" name="remarks">{{engage.remarks}}</textarea><br>

        <button type="submit">Submit</button>
            
        </form>
        
    </main>
</div>
    
{% block mainjs %}
<script src="{% static "/js/epmd/epmd.js" %}"></script>
{% endblock mainjs %}

{% endblock content %}

