<!-- templates/index.html -->

{% extends "_base.html" %} {% block content %}

<div class="p-8 items-center justify-center h-auto rounded-xl bg-gray-100">
  <div class="pl-8 text-2xl font-bold">Account Register</div>
  <form
    method="post"
    action="{% url 'view_data_register' user_data.id %}"
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <div class="relative shadow-md px-8 py-4">
      <h4 class="mb-8 text-lg font-semibold text-blue-500">
        Account Information
      </h4>
      <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="relative">
          <label
            for="first_name"
            class="block mb-2 text-sm font-medium text-gray-900"
            >First Name</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-5 h-6 text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="5 4 20 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="text"
              id="first_name"
              name="first_name"
              class="bg-gray-50 border border-gray-200 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
              value="{{user_data.first_name}}"
              disabled
            />
          </div>
        </div>
        <div class="relative">
          <label
            for="last_name"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Last Name</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-5 h-6 text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="5 4 20 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="text"
              id="last_name"
              name="last_name"
              class="bg-gray-50 border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-600 block w-full ps-10 p-2.5"
              value="{{user_data.last_name}}"
              disabled
            />
          </div>
        </div>

        <div class="relative">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Email Address</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-5 h-6 text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="5 4 20 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="text"
              id="email"
              name="email"
              class="bg-gray-50 border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-600 block w-full ps-10 p-2.5"
              value="{{user_data.email}}"
              disabled
            />
          </div>
        </div>

        <div class="relative">
          <label
            for="password"
            class="block mb-2 mt-4 text-sm font-medium text-gray-900"
            >Password</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-5 h-6 text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="5 4 20 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="text"
              id="password"
              name="password"
              class="bg-gray-50 border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-600 block w-full ps-10 p-2.5"
              value="{{user_data.password}}"
              disabled
            />
          </div>
        </div>

        <div class="relative">
          <label
            for="mobile"
            class="block mb-2 mt-4 text-sm font-medium text-gray-900"
            >Mobile Number</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-5 h-6 text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="5 4 20 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="number"
              id="mobile"
              name="mob"
              class="bg-gray-50 border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-600 block w-full ps-10 p-2.5"
              value="{{user_data.mobile}}"
              disabled
            />
          </div>
        </div>
        
         <div class="relative">
          <label
            for="province"
            class="block mb-2 mt-4 text-sm font-medium text-gray-900"
            >Province</label
          >
          <div class="flex">
            <label
              class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-2 text-sm font-medium text-center text-gray-500 bg-gray-50 border border-gray-200 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100"
            >
              <svg
                class="w-4 h-4 text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 16 20"
              >
                <path
                  d="M8 0a7.992 7.992 0 0 0-6.583 12.535 1 1 0 0 0 .12.183l.12.146c.112.145.227.285.326.4l5.245 6.374a1 1 0 0 0 1.545-.003l5.092-6.205c.206-.222.4-.455.578-.7l.127-.155a.934.934 0 0 0 .122-.192A8.001 8.001 0 0 0 8 0Zm0 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"
                />
              </svg>
            </label>

            <label for="province" class="sr-only">Choose a Province</label>
            <select
              id="province"
              name="province"
              class="bg-gray-50 border border-gray-200 text-gray-900 text-sm rounded-e-lg border-s-gray-100 w-full p-2.5"
              disabled
            >
            <option value="" disabled selected>Select Province</option>
            <option value="All" {% if user_data.province == 'All' %} selected {% endif %}>All</option>
            <option value="Cavite" {% if user_data.province == 'Cavite' %} selected {% endif %}>Cavite</option>
            <option value="Laguna" {% if user_data.province == 'Laguna' %} selected {% endif %}>Laguna</option>
            <option value="Batangas" {% if user_data.province == 'Batangas' %} selected {% endif %}>Batangas</option>
            <option value="Rizal" {% if user_data.province == 'Rizal' %} selected {% endif %}>Rizal</option>
            <option value="Quezon" {% if user_data.province == 'Quezon' %} selected {% endif %}>Quezon</option>
            </select>
          </div>
        </div>
        
  

      <!--    ________________________________________________________    -->
    </div>
  </form>
</div>

{% endblock content %} {% block mainjs %} {% endblock mainjs %}
