<!-- templates/_base.html -->

{% load static %} {% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ILCDB</title>
    

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />

    
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{% static 'src/input.css' %}" />

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}

    {% block maincss %} {% endblock maincss %}
  </head>

  <body class="bg-white">
    {% include "shared/_sidebar.html" %}

    <div class=" px-6 sm:ml-64 bg">{% block content %} {% endblock content%}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    {% block mainjs %}{% endblock mainjs %}

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
  </body>
</html>
