<!-- templates/index.html -->

{% extends "_base.html" %} {% block content %}

<div
  class="p-8 items-center justify-center h-auto rounded-xl bg-white dark:bg-gray-800"
>
  <div class="pl-8 text-2xl font-bold">OJT Trainees</div>

  <div class="relative shadow-md px-8 py-4">
    <h4 class="mb-4 text-2xl font-semibold text-blue-800">
      Student Information
    </h4>

    <form method="post" action="{% url 'add_data_ojt' %}">
      {% csrf_token %}
      <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="relative">
          <label
            for="student_name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Student Name</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-5 h-6 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="5 4 20 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="text"
              id="student_name"
              name="student_name"
              class="bg-white-50 border border-black-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-600 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Juan S. Dela Cruz"
            />
          </div>
        </div>
        <div class="relative">
          <label
            for="gender"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Gender</label
          >
          <div class="flex">
            <label
              class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-2 text-sm font-medium text-center text-gray-500 bg-white-100 border border-gray-900 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
            >
              <svg
                class="w-5 h-6 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.3-2a6 6 0 0 0 0-6A4 4 0 0 1 20 8a4 4 0 0 1-6.7 3Zm2.2 9a4 4 0 0 0 .5-2v-1a6 6 0 0 0-1.5-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.5Z"
                  clip-rule="evenodd"
                />
              </svg>
            </label>

            <label for="gender" class="sr-only"></label>
            <select
              id="gender"
              name="gender"
              class="bg-white-50 border border-black text-gray-900 text-sm rounded-e-lg border-s-gray-100 dark:border-s-gray-700 border-s-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option value="" disabled selected>Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="relative">
          <label
            for="school_name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >School Name</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-5 h-6 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="3 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 4c0-.6.4-1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1H9Zm5 0a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1v-1c0-.6-.4-1-1-1H9Zm5 0a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1v-1c0-.6-.4-1-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="text"
              id="school_name"
              name="school_name"
              class="bg-white-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Name of the School"
            />
          </div>
        </div>
        <div class="relative">
          <label
            for="school_address"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >School Address</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-5 h-6 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="3 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 4c0-.6.4-1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1H9Zm5 0a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1v-1c0-.6-.4-1-1-1H9Zm5 0a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1v-1c0-.6-.4-1-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="text"
              id="school_address"
              name="school_address"
              class="bg-white-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Adress of the School"
            />
          </div>
        </div>
        <div class="relative">
          <label
            for="contact_number"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Phone number:</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 19 18"
              >
                <path
                  d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"
                />
              </svg>
            </div>
            <input
              type="text"
              id="contact_number"
              name="contact_number"
              aria-describedby="helper-text-explanation"
              class="bg-white-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="0912-345-6789"
              required
            />
          </div>
        </div>
        <div class="relative">
          <label
            for="contact_person"
            class="block mb-2 text-sm font-medium text-gray-800 dark:text-white"
            >Contact Person</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-5 h-5 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="3 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M7 2a2 2 0 0 0-2 2v1a1 1 0 0 0 0 2v1a1 1 0 0 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1c0 1.1.9 2 2 2h11a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H7Zm3 8a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm-1 7a3 3 0 0 1 3-3h2a3 3 0 0 1 3 3c0 .6-.4 1-1 1h-6a1 1 0 0 1-1-1Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="text"
              id="contact_person"
              name="contact_person"
              class="bg-white-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ricardo S. Dalisay"
            />
          </div>
        </div>
        <div class="relative">
          <label
            for="province"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Province</label
          >
          <div class="flex">
            <label
              class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-2 text-sm font-medium text-center text-gray-500 bg-white-100 border border-gray-900 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
            >
              <svg
                class="w-4 h-4 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 16 20"
              >
                <path
                  d="M8 0a7.992 7.992 0 0 0-6.583 12.535 1 1 0 0 0 .12.183l.12.146c.112.145.227.285.326.4l5.245 6.374a1 1 0 0 0 1.545-.003l5.092-6.205c.206-.222.4-.455.578-.7l.127-.155a.934.934 0 0 0 .122-.192A8.001 8.001 0 0 0 8 0Zm0 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"
                />
              </svg>
            </label>

            <label for="province" class="sr-only">Choose a Province</label>
            <select
              id="province"
              name="province"
              class="bg-white-50 border border-gray-900 text-gray-900 text-sm rounded-e-lg border-s-gray-100 dark:border-s-gray-700 border-s-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option value="" disabled selected>Select Province</option>
              <option value="Cavite">Cavite</option>
              <option value="Laguna">Laguna</option>
              <option value="Batangas">Batangas</option>
              <option value="Rizal">Rizal</option>
              <option value="Quezon">Quezon</option>
            </select>
          </div>
        </div>
      </div>

      <!-- fdsf ___________________________________________________ -->

      <h4 class="text-2xl font-semibold mt-8 mb-8 text-blue-800">
        OJT Information
      </h4>
      <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="relative">
          <label
            for="ojt_duration"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >OJT Duration</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-5 h-5 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="2 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm11-4a1 1 0 1 0-2 0v4c0 .3.1.5.3.7l3 3a1 1 0 0 0 1.4-1.4L13 11.6V8Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="text"
              id="ojt_duration"
              name="ojt_duration"
              class="bg-white-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="1 hour/s"
            />
          </div>
        </div>

        <div class="relative">
          <label
            for="start_date"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Start Date</label
          >
          <div class="relative max-w-sm">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                />
              </svg>
            </div>
            <input
              datepicker
              datepicker-autohide
              id="start_date"
              name="start_date"
              type="text"
              class="bg-white-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Select date"
            />
          </div>
        </div>
        <div class="relative">
          <label
            for="end_date"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >End Date</label
          >
          <div class="relative max-w-sm">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                />
              </svg>
            </div>
            <input
              datepicker
              datepicker-autohide
              name="end_date"
              type="text"
              class="bg-white-50 border border-gray-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Select date"
            />
          </div>
        </div>

        <div class="relative">
          <label
            for="mode"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Mode</label
          >
          <div class="flex">
            <label
              class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-2 text-sm font-medium text-center text-gray-500 bg-white-100 border border-gray-900 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
            >
              <svg
                class="w-5 h-6 text-blue-800 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 8a1 1 0 0 0-1 1v10H9a1 1 0 1 0 0 2h11c.6 0 1-.4 1-1V9c0-.6-.4-1-1-1h-8Zm4 10a2 2 0 1 1 0-4 2 2 0 0 1 0 4Z"
                  clip-rule="evenodd"
                />
                <path
                  fill-rule="evenodd"
                  d="M5 3a2 2 0 0 0-2 2v6h6V9a3 3 0 0 1 3-3h8c.4 0 .7 0 1 .2V5a2 2 0 0 0-2-2H5Zm4 10H3v2c0 1.1.9 2 2 2h4v-4Z"
                  clip-rule="evenodd"
                />
              </svg>
            </label>

            <label for="province" class="sr-only"></label>
            <select
              id="proe"
              name="mode"
              class="bg-white-50 border border-gray-900 text-gray-900 text-sm rounded-e-lg border-s-gray-100 dark:border-s-gray-700 border-s-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option value="" disabled selected>Select Mode</option>
              <option value="ftf">Face-to-Face</option>
              <option value="online">Online</option>
              <option value="hybrid">Hybrid</option>
            </select>
          </div>
        </div>
      </div>

      <!--    ________________________________________________________    -->

      <h4 class="text-2xl font-semibold mt-8 mb-8 text-blue-800">
        Requirements
      </h4>
      <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-recommendation"
              type="checkbox"
              value=""
              name="recommendation_letter"
              class="w-4 h-4 text-blue-800 bg-gray-white border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-recommendation"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Recommendation Letter</label
            >
          </div>
        </div>
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-application"
              type="checkbox"
              value=""
              name="application_form"
              class="w-4 h-4 text-blue-800 bg-gray-white border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-application"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Application Form</label
            >
          </div>
        </div>
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-cvresume"
              type="checkbox"
              value=""
              name="cv_resume"
              class="w-4 h-4 text-blue-800 bg-white-100 border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-cvresume"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >CV/Resume</label
            >
          </div>
        </div>

        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-medcertificate"
              type="checkbox"
              value=""
              name="medical_certificate"
              class="w-4 h-4 text-blue-800 bg-white-100 border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-medcertificate"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Medical Certificate</label
            >
          </div>
        </div>
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-workplanform"
              type="checkbox"
              value=""
              name="workplan_form"
              class="w-4 h-4 text-blue-800 bg-white-100 border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-workplanform"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Workplan Form</label
            >
          </div>
        </div>
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-interviewform"
              type="checkbox"
              value=""
              name="interview_form"
              class="w-4 h-4 text-blue-800 bg-white-100 border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-interviewform"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Interview Form</label
            >
          </div>
        </div>
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-acceptanceletter"
              type="checkbox"
              value=""
              name="acceptance_letter"
              class="w-4 h-4 text-blue-800 bg-white-100 border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-acceptanceletter"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Acceptance Letter</label
            >
          </div>
        </div>
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-wfharrangement"
              type="checkbox"
              value=""
              name="wfh_arrangement"
              class="w-4 h-4 text-blue-800 bg-white-100 border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-wfharrangement"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >WFH Arrangement</label
            >
          </div>
        </div>
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-nda"
              type="checkbox"
              value=""
              name="nda"
              class="w-4 h-4 text-blue-600 bg-white-100 border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-nda"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >NDA</label
            >
          </div>
        </div>
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-workassignmentform"
              type="checkbox"
              value=""
              name="work_assignment_form"
              class="w-4 h-4 text-blue-800 bg-white-100 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-workassignmentform"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Work Assignment Form</label
            >
          </div>
        </div>
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-war"
              type="checkbox"
              value=""
              name="war"
              class="w-4 h-4 text-blue-800 bg-white-100 border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-war"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >WAR</label
            >
          </div>
        </div>

        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-timesheet"
              type="checkbox"
              value=""
              name="timesheet"
              class="w-4 h-4 text-blue-800 bg-white-100 border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-timesheet"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Timesheet</label
            >
          </div>
        </div>
        <div class="relative">
          <div class="flex items-center ps-4 rounded dark:border-gray-700">
            <input
              id="bordered-checkbox-coc"
              type="checkbox"
              value=""
              name="coc"
              class="w-4 h-4 text-blue-800 bg-white-100 border-gray-900 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

            <div class="pl-8 pr-2">
              <svg
                class="w-6 h-6 text-blue-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>

            <label
              for="bordered-checkbox-coc"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >COC</label
            >
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="relative">
          <label
            for="remarks"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Remarks</label
          >
          <div class="relative">
            <textarea
              id="remarks"
              name="remarks"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-white-50 rounded-lg border border-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Write your thoughts here..."
            ></textarea>
          </div>
        </div>
      </div>
      <div class="my-4 d-flex justify-content-end">
        <button type="submit" class="btnSub btn-primary btn-lg">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
