<!-- templates/index.html -->

{% extends "_base.html" %} {% block content %}

<!-- <div
  class="p-4 border-2 border-gray-200 border-solid rounded-lg dark:border-gray-700 "
> -->

<div class="flex-col p-10 rounded-lg h-screen shadow bg-white">
  <!--jskkdk-->
  <div class="text-2xl font-bold my-6 text-center text-blue-500">
    <p>Cavite</p>
  </div>
  <!--Start of Count (Div's)-->
  <div class="grid grid-cols-4 gap-4 mb-4 h-36">
    <div class="flex-col  rounded bg-gray-50 font-medium shadow-xl">
      <h1 class="pt-2 pl-3 text-lg text-left">Exam</h1>
      <div class="text-5xl text-center pt-4">{{ cavite_count_exam }}</div>
    </div>

    <div class="flex-col  rounded bg-gray-50 shadow-xl">
      <h1 class="pt-2 pl-3 text-lg font-medium text-left">OJT Trainees</h1>
      <div class="text-5xl text-center pt-4">{{ cavite_count_ojt }}</div>
    </div>

    <div class="flex-col  rounded bg-gray-50 shadow-xl">
      <h1 class="pt-2 pl-3 text-lg font-medium text-left">Engaged Partners</h1>
      <div class="text-5xl text-center pt-4">{{ cavite_count_engage }}</div>
    </div>

    <div class="flex-col  rounded bg-gray-50 shadow-xl">
      <h1 class="pt-2 pl-3 text-lg font-medium text-left">Trainings and Webinars</h1>
      <div class="text-5xl text-center pt-4">{{ cavite_count_tmd }}</div>
    </div>
  </div>

  <!--End of Count (Div's)-->
  <!--      Exam      -->
  <div class="grid grid-cols-2 gap-4 p-8">
    <div class="h-52 rounded-xl gray-100 p-2 shadow-xl">
      <h1 class="pt-2 text-lg font-medium text-center">Exam</h1>
      <div class="" id="donut-chart-exam-cavite"></div>
    </div>

    <div class="h-52 rounded-xl gray-100 p-2 shadow-xl">
      <h1 class="pt-2 text-lg font-medium text-center">OJT Trainees</h1>
      <div class="" id="donut-chart-ojt-cavite"></div>
    </div>

    <div class="h-52 rounded-xl gray-100 p-2 shadow-xl">
      <h1 class="pt-2 text-lg font-medium text-center">Engaged Partners</h1>
      <div class="" id="donut-chart-engage-cavite"></div>
    </div>

    <div class="h-52 rounded-xl gray-100 p-2 shadow-xl">
      <h1 class="pt-2 text-lg font-medium text-center">Trainings/Webinars</h1>
      <div class="" id="donut-chart-tmd-cavite"></div>
    </div>
  </div>
</div>
<!-- end EXAM -->

{% endblock content %} {% block mainjs %}
<!--    Start of Exam Script           -->

<script>
  // Exam Cavite
  const getChartOptionsExamCavite = (caviteValue, targetValue) => {
    // Calculate the remaining value to reach the target
    const remainingValue = targetValue - caviteValue;

    return {
      series: [caviteValue, remainingValue],
      colors: ["#1C64F2", "#E5E7EB"],
      chart: {
        height: 180,
        width: "100%",
        type: "donut",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: false, // Set to false to hide the label
                fontFamily: "Inter, sans-serif",
                offsetY: -2,
              },
              total: {
                showAlways: true,
                show: true,
                label: "",
                fontFamily: "Inter, sans-serif",
                formatter: function (w) {
                  // Calculate the percentage of the caviteValue compared to the targetValue
                  const percentage = (caviteValue / targetValue) * 100;
                  return `${percentage.toFixed(0)}%`;
                },
              },
              value: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 12,
                formatter: function (value) {
                  return value.toString();
                },
              },
            },
            size: "70%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: ["No. of Examinees", "Remaining"],
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
    };
  };

  if (document.getElementById("donut-chart-exam-cavite") && typeof ApexCharts !== 'undefined') {
    // Set the laguna value and the target value
    const caviteValue = {{ cavite_count_exam }};
    const targetValue = {{ exam_cavite_limit}};

    // Create the chart with the updated options
    const chart = new ApexCharts(document.getElementById("donut-chart-exam-cavite"), getChartOptionsExamCavite(caviteValue, targetValue));
    chart.render();
  }
</script>

<script>
  // Engage Cavite
  const getChartOptionsEngageCavite = (caviteValue, targetValue) => {
    // Calculate the remaining value to reach the target
    const remainingValue = targetValue - caviteValue;

    return {
      series: [caviteValue, remainingValue],
      colors: ["#1C64F2", "#E5E7EB"],
      chart: {
        height: 180,
        width: "100%",
        type: "donut",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: false, // Set to false to hide the label
                fontFamily: "Inter, sans-serif",
                offsetY: -2,
              },
              total: {
                showAlways: true,
                show: true,
                label: "",
                fontFamily: "Inter, sans-serif",
                formatter: function (w) {
                  // Calculate the percentage of the caviteValue compared to the targetValue
                  const percentage = (caviteValue / targetValue) * 100;
                  return `${percentage.toFixed(0)}%`;
                },
              },
              value: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 12,
                formatter: function (value) {
                  return value.toString();
                },
              },
            },
            size: "70%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: ["No. of Engaged Partners", "Remaining"],
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
    };
  };

  if (document.getElementById("donut-chart-engage-cavite") && typeof ApexCharts !== 'undefined') {
    // Set the laguna value and the target value
    const caviteValue = {{ cavite_count_engage }};
    const targetValue = {{ engage_cavite_limit}};

    // Create the chart with the updated options
    const chart = new ApexCharts(document.getElementById("donut-chart-engage-cavite"), getChartOptionsEngageCavite(caviteValue, targetValue));
    chart.render();
  }
</script>

<script>
  // OJT Cavite
  const getChartOptionsojtCavite = (caviteValue, targetValue) => {
    // Calculate the remaining value to reach the target
    const remainingValue = targetValue - caviteValue;

    return {
      series: [caviteValue, remainingValue],
      colors: ["#1C64F2", "#E5E7EB"],
      chart: {
        height: 180,
        width: "100%",
        type: "donut",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: false, // Set to false to hide the label
                fontFamily: "Inter, sans-serif",
                offsetY: -2,
              },
              total: {
                showAlways: true,
                show: true,
                label: "",
                fontFamily: "Inter, sans-serif",
                formatter: function (w) {
                  // Calculate the percentage of the caviteValue compared to the targetValue
                  const percentage = (caviteValue / targetValue) * 100;
                  return `${percentage.toFixed(0)}%`;
                },
              },
              value: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 12,
                formatter: function (value) {
                  return value.toString();
                },
              },
            },
            size: "70%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: ["No. of OJT", "Remaining"],
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
    };
  };

  if (document.getElementById("donut-chart-exam-cavite") && typeof ApexCharts !== 'undefined') {
    // Set the laguna value and the target value
    const caviteValue = {{ cavite_count_ojt }};
    const targetValue = {{ ojt_cavite_limit}};

    // Create the chart with the updated options
    const chart = new ApexCharts(document.getElementById("donut-chart-ojt-cavite"), getChartOptionsojtCavite(caviteValue, targetValue));
    chart.render();
  }
</script>

<script>
  // TMD Cavite
  const getChartOptionstmdCavite = (caviteValue, targetValue) => {
    // Calculate the remaining value to reach the target
    const remainingValue = targetValue - caviteValue;

    return {
      series: [caviteValue, remainingValue],
      colors: ["#1C64F2", "#E5E7EB"],
      chart: {
        height: 180,
        width: "100%",
        type: "donut",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: false, // Set to false to hide the label
                fontFamily: "Inter, sans-serif",
                offsetY: -2,
              },
              total: {
                showAlways: true,
                show: true,
                label: "",
                fontFamily: "Inter, sans-serif",
                formatter: function (w) {
                  // Calculate the percentage of the caviteValue compared to the targetValue
                  const percentage = (caviteValue / targetValue) * 100;
                  return `${percentage.toFixed(0)}%`;
                },
              },
              value: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 12,
                formatter: function (value) {
                  return value.toString();
                },
              },
            },
            size: "70%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: ["No. of Trainees", "Remaining"],
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
    };
  };

  if (document.getElementById("donut-chart-tmd-cavite") && typeof ApexCharts !== 'undefined') {
    // Set the laguna value and the target value
    const caviteValue = {{ cavite_count_tmd }};
    const targetValue = {{ tmd_cavite_limit}};

    // Create the chart with the updated options
    const chart = new ApexCharts(document.getElementById("donut-chart-tmd-cavite"), getChartOptionstmdCavite(caviteValue, targetValue));
    chart.render();
  }
</script>

<!--End of Trainings and Webinars Script-->
{% endblock mainjs %}
