<!-- templates/index.html -->

{% extends "_base.html" %} {% block content %}

<div
  class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700"
>
  <div class="grid grid-cols-5 gap-4 mb-4">
    <div class="flex-col h-auto rounded bg-gray-50 dark:bg-gray-800">
      <h1 class="pt-2 pl-3 text-xl font-semibold text-left">Cavite</h1>
      <div class="" id="donut-chart-ojt-cavite"></div>
    </div>

    <div class="flex-col h-auto rounded bg-gray-50 dark:bg-gray-800">
      <h1 class="pt-2 pl-3 text-xl font-semibold text-left">Laguna</h1>
      <div class="" id="donut-chart-ojt-laguna"></div>
    </div>

    <div class="flex-col h-auto rounded bg-gray-50 dark:bg-gray-800">
      <h1 class="pt-2 pl-3 text-xl font-semibold text-left">Batangas</h1>
      <div class="" id="donut-chart-ojt-batangas"></div>
    </div>

    <div class="flex-col h-auto rounded bg-gray-50 dark:bg-gray-800">
      <h1 class="pt-2 pl-3 text-xl font-semibold text-left">Rizal</h1>
      <div class="" id="donut-chart-ojt-rizal"></div>
    </div>

    <div class="flex-col h-auto rounded bg-gray-50 dark:bg-gray-800">
      <h1 class="pt-2 pl-3 text-xl font-semibold text-left">Quezon</h1>
      <div class="" id="donut-chart-ojt-quezon"></div>
    </div>
  </div>

  <!-- ____________________________________________________________ 2nd div -->
  <div
    class="flex items-center justify-center h-auto mb-4 rounded bg-gray-50 dark:bg-gray-800"
  >
    <div id="column-chart"></div>
  </div>

  <!-- ____________________________________________________________ -->
  <div
    class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800"
  >
    <p class="text-2xl text-gray-400 dark:text-gray-500">
      <svg
        class="w-3.5 h-3.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 1v16M1 9h16"
        />
      </svg>
    </p>
  </div>
</div>

{% endblock content %} {% block mainjs %}

<script>

  const options = {
    series: [
      {
        name: "Ojt Trainees",
        color:"",
        data: [
          { x: "Cavite", y: {{ cavite_count_ojt }}, fillColor: "#1C64F2" },
          { x: "Laguna", y: {{ laguna_count_ojt }}, fillColor: "#1C64F2"},
          { x: "Batangas", y: {{ batangas_count_ojt }}, fillColor: "#1C64F2"},
          { x: "Rizal", y: {{ rizal_count_ojt }}, fillColor: "#a70000" },
          { x: "Quezon", y:  {{ quezon_count_ojt }}, fillColor: "#1C64F2"},
        ],
      },
    ],
    chart: {
      type: "bar",
      height: "320px",
      width: "500px",
      fontFamily: "Inter, sans-serif",
      toolbar: {
        show: false,
      },
    },
    plotOptions: {
      bar: {
        horizontal: false,
        columnWidth: "70%",
        borderRadiusApplication: "end",
        borderRadius: 8,
      },
    },
    tooltip: {
      shared: true,
      intersect: false,
      style: {
        fontFamily: "Inter, sans-serif",
      },
    },
    states: {
      hover: {
        filter: {
          type: "darken",
          value: 1,
        },
      },
    },
    stroke: {
      show: true,
      width: 0,
      colors: ["transparent"],
    },
    grid: {
      show: true,
      strokeDashArray: 4,
      padding: {
        left: 2,
        right: 2,
        top: -14
      },
    },
    dataLabels: {
      enabled: false,
    },
    legend: {
      show: false,
    },
    xaxis: {
      floating: false,
      labels: {
        show: true,
        style: {
          fontFamily: "Inter, sans-serif",
          cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
        }
      },
      axisBorder: {
        show: true,
      },
      axisTicks: {
        show: false,
      },
    },
    yaxis: {
      show: true,
    },
    fill: {
      opacity: 1,
    },
  }

  if(document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
    const chart = new ApexCharts(document.getElementById("column-chart"), options);
    chart.render();
  }
</script>

<script>
  // Ojt Cavite
  const getChartOptionsOjtCavite = (caviteValue, targetValue) => {
    // Calculate the remaining value to reach the target
    const remainingValue = targetValue - caviteValue;

    return {
      series: [caviteValue, remainingValue],
      colors: ["#1C64F2", "#E5E7EB"],
      chart: {
        height: 200,
        width: "100%",
        type: "donut",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: false, // Set to false to hide the label
                fontFamily: "Inter, sans-serif",
                offsetY: -2,
              },
              total: {
                showAlways: true,
                show: true,
                label: "",
                fontFamily: "Inter, sans-serif",
                formatter: function (w) {
                  // Calculate the percentage of the caviteValue compared to the targetValue
                  const percentage = (caviteValue / targetValue) * 100;
                  return `${percentage.toFixed(0)}%`;
                },
              },
              value: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 12,
                formatter: function (value) {
                  return value.toString();
                },
              },
            },
            size: "70%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: ["Cavite", "Remaining"],
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
    };
  };

  if (document.getElementById("donut-chart-ojt-cavite") && typeof ApexCharts !== 'undefined') {
    // Set the laguna value and the target value
    const caviteValue = {{ cavite_count_ojt }};
    const targetValue = 15;

    // Create the chart with the updated options
    const chart = new ApexCharts(document.getElementById("donut-chart-ojt-cavite"), getChartOptionsOjtCavite(caviteValue, targetValue));
    chart.render();
  }
</script>

<script>
  // Ojt Laguna
  const getChartOptionsOjtLaguna = (lagunaValue, targetValue) => {
    // Calculate the remaining value to reach the target
    const remainingValue = targetValue - lagunaValue;

    return {
      series: [lagunaValue, remainingValue],
      colors: ["#1C64F2", "#E5E7EB"],
      chart: {
        height: 200,
        width: "100%",
        type: "donut",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: false, // Set to false to hide the label
                fontFamily: "Inter, sans-serif",
                offsetY: -2,
              },
              total: {
                showAlways: true,
                show: true,
                label: "",
                fontFamily: "Inter, sans-serif",
                formatter: function (w) {
                  // Calculate the percentage of the caviteValue compared to the targetValue
                  const percentage = (lagunaValue / targetValue) * 100;
                  return `${percentage.toFixed(0)}%`;
                },
              },
              value: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 12,
                formatter: function (value) {
                  return value.toString();
                },
              },
            },
            size: "70%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: ["Laguna", "Remaining"],
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
    };
  };

  if (document.getElementById("donut-chart-ojt-cavite") && typeof ApexCharts !== 'undefined') {
    // Set the laguna value and the target value
    const lagunaValue = {{ laguna_count_ojt }};
    const targetValue = 15;

    // Create the chart with the updated options
    const chart = new ApexCharts(document.getElementById("donut-chart-ojt-laguna"), getChartOptionsOjtLaguna(lagunaValue, targetValue));
    chart.render();
  }
</script>

<script>
  // Ojt Batangas
  const getChartOptionsOjtBatangas = (batangasValue, targetValue) => {
    // Calculate the remaining value to reach the target
    const remainingValue = targetValue - batangasValue;

    return {
      series: [batangasValue, remainingValue],
      colors: ["#1C64F2", "#E5E7EB"],
      chart: {
        height: 200,
        width: "100%",
        type: "donut",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: false, // Set to false to hide the label
                fontFamily: "Inter, sans-serif",
                offsetY: -2,
              },
              total: {
                showAlways: true,
                show: true,
                label: "",
                fontFamily: "Inter, sans-serif",
                formatter: function (w) {
                  // Calculate the percentage of the caviteValue compared to the targetValue
                  const percentage = (batangasValue / targetValue) * 100;
                  return `${percentage.toFixed(0)}%`;
                },
              },
              value: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 12,
                formatter: function (value) {
                  return value.toString();
                },
              },
            },
            size: "70%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: ["Batangas", "Remaining"],
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
    };
  };

  if (document.getElementById("donut-chart-ojt-batangas") && typeof ApexCharts !== 'undefined') {
    // Set the laguna value and the target value
    const batangasValue = {{ batangas_count_ojt }};
    const targetValue = 15;

    // Create the chart with the updated options
    const chart = new ApexCharts(document.getElementById("donut-chart-ojt-batangas"), getChartOptionsOjtLaguna(batangasValue, targetValue));
    chart.render();
  }
</script>


<script>
  // Ojt Rizal
  const getChartOptionsOjtRizal = (rizalValue, targetValue) => {
    // Calculate the remaining value to reach the target
    const remainingValue = targetValue - rizalValue;

    return {
      series: [rizalValue, remainingValue],
      colors: ["#1C64F2", "#E5E7EB"],
      chart: {
        height: 200,
        width: "100%",
        type: "donut",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: false, // Set to false to hide the label
                fontFamily: "Inter, sans-serif",
                offsetY: -2,
              },
              total: {
                showAlways: true,
                show: true,
                label: "",
                fontFamily: "Inter, sans-serif",
                formatter: function (w) {
                  // Calculate the percentage of the caviteValue compared to the targetValue
                  const percentage = (rizalValue / targetValue) * 100;
                  return `${percentage.toFixed(0)}%`;
                },
              },
              value: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 12,
                formatter: function (value) {
                  return value.toString();
                },
              },
            },
            size: "70%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: ["Rizal", "Remaining"],
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
    };
  };

  if (document.getElementById("donut-chart-ojt-rizal") && typeof ApexCharts !== 'undefined') {
    // Set the rizal value and the target value
    const rizalValue = {{ rizal_count_ojt }};
    const targetValue = 15;

    // Create the chart with the updated options
    const chart = new ApexCharts(document.getElementById("donut-chart-ojt-rizal"), getChartOptionsOjtRizal(rizalValue, targetValue));
    chart.render();
  }
</script>

<script>
   // Ojt Quezon
   const getChartOptionsOjtQuezon = (quezonValue, targetValue) => {
    // Calculate the remaining value to reach the target
    const remainingValue = targetValue - quezonValue;

    return {
      series: [quezonValue, remainingValue],
      colors: ["#1C64F2", "#E5E7EB"],
      chart: {
        height: 200,
        width: "100%",
        type: "donut",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: false, // Set to false to hide the label
                fontFamily: "Inter, sans-serif",
                offsetY: -2,
              },
              total: {
                showAlways: true,
                show: true,
                label: "",
                fontFamily: "Inter, sans-serif",
                formatter: function (w) {
                  // Calculate the percentage of the quezoValue compared to the targetValue
                  const percentage = (quezonValue / targetValue) * 100;
                  return `${percentage.toFixed(0)}%`;
                },
              },
              value: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 12,
                formatter: function (value) {
                  return value.toString();
                },
              },
            },
            size: "70%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: ["Quezon", "Remaining"],
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
    };
  };

  if (document.getElementById("donut-chart-ojt-quezon") && typeof ApexCharts !== 'undefined') {
    // Set the laguna value and the target value
    const quezonValue = {{ quezon_count_ojt }};
    const targetValue = 15;

    // Create the chart with the updated options
    const chart = new ApexCharts(document.getElementById("donut-chart-ojt-quezon"), getChartOptionsOjtQuezon(quezonValue, targetValue));
    chart.render();
  }
</script>

{% endblock mainjs %}
