{% extends "base.html" %}

{% load static %}

{%block maincss %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">


{% endblock %}





{% block content %}

<!-- Main Content -->
<div class="flex-1 flex flex-col overflow-hidden">
          
    <main class="flex-5 overflow-x-hidden overflow-y-auto bg-gray-100 p-4">
        <H1>ADD ojt data</H1>

          <div class="col-8">

            <form method="post" action="{% url 'add_data_ojt' %}" class="max-w-md mx-auto">
              {% csrf_token %}

                <div class="mb-3">
                <h5>Personal Details</h5>
                <hr size="5">

                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column bd-highlight mb-3 justify-content-between">
                            <div class="my-2"> <!-- Increased margin here -->
                                <label for="studentName" class="form-label">Student Name</label>
                                <input type="text" class="form-control" id="student_name" name="student_name">
                            </div>
                    
                            <div class="my-2"> <!-- Increased margin here -->
                                <label for="contactNumber" class="form-label">Contact Number</label>
                                <input type="text" class="form-control" id="contact_number" name="contact_number">
                            
                            </div>
                            <div class="my-2"> <!-- Increased margin here -->
                                <label for="province" class="form-label">Province</label>
                                <select class="form-select" id="province" name="province">
                                    <option value="" disabled selected>Select Province</option>
                                    <option value="Cavite">Cavite</option>
                                    <option value="Laguna">Laguna</option>
                                    <option value="Batangas">Batangas</option>
                                    <option value="Rizal">Rizal</option>
                                    <option value="Quezon">Quezon</option>
                                </select>
                            </div>
                
                           
                        </div>

                        <div class="d-flex flex-column bd-highlight mb-3 ">
                            <div class="my-2"> <!-- Increased margin here -->
                                <label for="gender" class="form-label">Gender</label>
                                <select class="form-select" id="gender" name="gender">
                                    <option value="" disabled selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                            <div class="my-2"> <!-- Increased margin here -->
                                <label for="contactPerson" class="form-label">Contact Person</label>
                                <input type="text" class="form-control" id="contact_person" name="contact_person">
                            </div>
                    
                           
                
                        </div>

                        <div class="d-flex flex-column bd-highlight mb-3 ">
                            <div class="my-2"> <!-- Increased margin here -->
                                <label for="schoolName" class="form-label">School Name</label>
                                <input type="text" class="form-control" id="school_name" name="school_name">
                            </div>
                    
                            <div class="my-2"> <!-- Increased margin here -->
                              <label for="schoolAddress" class="form-label">School Address</label>
                              <input type="text" class="form-control" id="school_address" name="school_address">
                          </div>
                
                        
                        </div>


                    </div>
                </div>  
                    
                    
            

                <div class="mb-3">
                <h5>OJT Details</h5>
                <hr size="5">
                    <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                        <div class=""> <!-- Increased margin here -->
                            <label for="ojtDuration" class="form-label">OJT Duration:</label>
                            <input type="text" class="form-control" id="ojt_duration" name="ojt_duration">
                        </div>
                
            
                        <div class=""> <!-- Increased margin here -->
                        <label for="startDate" class="form-label">Start Date:</label>
                        <input type="date" class="form-control" id="start_date" name="start_date">
                        
                        </div>  

                        <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                            <div class=""> <!-- Increased margin here -->
                                <label for="endDate" class="form-label">End Date:</label>
                                <input type="date" class="form-control" id="end_date" name="end_date">
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                        <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                            <div class=""> <!-- Increased margin here -->
                                <label for="mode" class="form-label">Mode</label>
                                <select class="form-select" id="mode"  name="mode">
                                    <option value="" disabled selected>Select Mode</option>
                                    <option value="ftf">Face-to-Face</option>
                                    <option value="online">Online</option>
                                    <option value="hybrid">Hybrid</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="">
                <h5>Requirements</h5>
                <hr size="5">
                    <div class="d-flex flex-row justify-content-between">

                        <div class="d-flex flex-column bd-highlight mb-3 justify-content-between">
                            <div class="my-2"> <!-- Increased margin here -->
                                <input class="form-check-input" type="checkbox" id="application_form" name="application_form" value="True">
                                <label class="form-check-label" for="defaultCheck1">
                                Application Form
                                </label>
                            </div>
                    
                            <div class="my-2"> <!-- Increased margin here -->
                                <input class="form-check-input" type="checkbox" id="cv_resume" name="cv_resume" value="True">
                                <label class="form-check-label" for="defaultCheck1">
                                CV/Resume
                                </label>
                            </div>
                
                            <div class="my-2"> <!-- Increased margin here -->
                                <input class="form-check-input" type="checkbox" id="medical_certificate" name="medical_certificate" value="True">
                                <label class="form-check-label" for="defaultCheck1">
                                    Medical Certificate
                                </label>
                            
                            </div>  

                            <div class="my-2"> <!-- Increased margin here -->
                                <input class="form-check-input" type="checkbox" id="workplan_form" name="workplan_form" value="True">
                                <label class="form-check-label" for="defaultCheck1">
                                    Workplan Form
                                </label>
                            
                            </div>  

                            <div class="my-2"> <!-- Increased margin here -->
                              <input class="form-check-input" type="checkbox" id="work_assignment_form" name="work_assignment_form" value="True">
                              <label class="form-check-label" for="defaultCheck1">
                              Work Assignment Form
                              </label>
                          </div>

                            

                        </div>
        
        
                        <div class="d-flex flex-column bd-highlight mb-3 justify-content-between">
                            <div class="my-2"> <!-- Increased margin here -->
                                <input class="form-check-input" type="checkbox" id="interview_form" name="interview_form" value="True">
                                <label class="form-check-label" for="defaultCheck1">
                                Interview Form
                                </label>
                            </div>
                    
                            <div class="my-2"> <!-- Increased margin here -->
                                <input class="form-check-input" type="checkbox" id="acceptance_letter" name="acceptance_letter" value="True">
                                <label class="form-check-label" for="defaultCheck1">
                                Acceptance Letter
                                </label>
                            </div>
                
                            <div class="my-2"> <!-- Increased margin here -->
                                <input class="form-check-input" type="checkbox" id="wfh_arrangement" name="wfh_arrangement" value="True">
                                <label class="form-check-label" for="defaultCheck1">
                                    WFH Arrangement
                                </label>
                            
                            </div>  

                            <div class="my-2"> <!-- Increased margin here -->
                                <input class="form-check-input" type="checkbox" id="nda" name="nda" value="True">
                                <label class="form-check-label" for="defaultCheck1">
                                    NDA
                                </label>
                            
                            </div> 

                            <div class="my-2"> <!-- Increased margin here -->
                              <input class="form-check-input" type="checkbox" id="war" name="war" value="True">
                              <label class="form-check-label" for="defaultCheck1">
                              WAR
                              </label>
                          </div> 
                        </div>

                        <div class="d-flex flex-column bd-highlight mb-3 ">
                            
                    
                            
                
                            <div class="my-2"> <!-- Increased margin here -->
                                <input class="form-check-input" type="checkbox" id="timesheet" name="timesheet" value="True">
                                <label class="form-check-label" for="defaultCheck1">
                                    Timesheet
                                </label>
                            
                            </div>  

                            <div class="my-2"> <!-- Increased margin here -->
                                <input class="form-check-input" type="checkbox" id="coc" name="coc" value="True">
                                <label class="form-check-label" for="defaultCheck1">
                                    COC
                                </label>
                            
                            </div>  

                            <div class="my-2"> <!-- Increased margin here -->
                              <input class="form-check-input" type="checkbox" id="recommendation_letter" name="recommendation_letter" value="True">
                              <label class="form-check-label" for="defaultCheck1">
                                Recommendation Letter
                              </label>
                          
                          </div>  
                        </div>

                    </div>

      

                    <div class="d-flex flex-row justify-content-between col-8 mt-4">

                      <label for="remarks">Remarks:</label><br>
                      <textarea rows="4" cols="50" id="remarks" name="remarks" ></textarea><br><br>
                    </div>


                </div>

                <div class="my-4 d-flex justify-content-end" >
                    <button type="submit" class="btnSub btn-primary btn-lg">Submit</button>
                </div>
                
                
            </form>

            </div>
        </div>  


      </form>
          
    </main>
</div>
{% block mainjs %}
<script src="{% static "/js/epmd/epmd.js" %}"></script>
{% endblock mainjs %}

{% endblock content %}

